%div.main
  =render 'groups/sidebar'
  %div.main_right
    .main_right_up
      .main_right_up_info
        %h1= @group.name
        %h5 Members: takutobaba
      .main_right_up_edit
        %a(class="edit-btn" href="/groups/#{@group.id}/edit") Edit
    .main_right_message
      %ul
        %li
          .chat
            %h3 takutobaba
            %h5 2016/12/29 18:30:30
            %h4 sss
        %li
          .chat
            %h3 takutobaba
            %h5 2016/12/29 18:32:32
            %h4 sss
        %li
          .chat
            %h3 takutobaba
            %h5 2016/12/29 18:35:23
            %h4 hhh
    .main_right_bottom
      .main_right_bottom_text
        %textarea(class="message-input" row="1" placeholder="type a message" name="message")
        %label(class="photo")
          %i(class="fa fa-picture-o fa-lg fa-fw" aria-hidden="true")
      %input(class="send-btn" type="submit" name="send" value="Send")
